@import url(https://fonts.googleapis.com/css?family=Inter);

.purple-home1 {
    font-size: 64px;
    color: #6C00FF;
    font-weight: 400;
    font-family: "Inter";
    margin: 50px 0;
}

.purple-home1 p {
    margin: 10px 0;
}

.MAGIC {
    background: linear-gradient(249deg, #6C00FF 90%, rgba(87, 0, 209, 0.42) 97%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    margin: 10px 0;
}

.get-in-touch {
    margin-top: 30px;
    margin: 10px 0;
}

.home1 {
    background-image: url(../../images/Home1.svg);
    width: 600px;
    height: 500px;
}

.p-with-img {
    display: flex;
    justify-content: center;
}

.main-part {
    padding: 0 50px;
}

.magical-platform {
    font-weight: 400;
    font-family: "Inter";
    font-size: 24px;
    color: black;
    padding-top: 40px;
}

.get-in-touch {
    padding: 12px 40px;
    border-radius: 5px;
    background-color: #6C00FF;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: "Inter";
    border: none;
}

.circles {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.circles-item {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: 7px 3px 5px 0px #9448ff inset;
    text-align: center;
    transition: 1s;
}

.circles-item:hover {
    box-shadow: 10px 5px 0px 0px #9448ff inset;
}

.lang-icons {
    font-size: 50px;
    margin: 25% 0;
    text-align: center;
    height: 50%;
    width: 50%;
    color: #6C00FF;
}

.who-we-are {
    height: 700px;
    background-color: #6C00FF;
    margin: 50px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.home2 {
    background-image: url(../../images/Home2.svg);
    width: 600px;
    height: 650px;
    margin-right: 20px;
}

.who-we-text {
    width: 500px;
    margin: auto 50px auto 0;
}

.who-we-text p{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

#Whowere {
    font-weight: 700;
    font-size: 35px;
    padding: 40px 0;
}

.text-start-learning {
    display: flex;
    justify-content: center;
}

.text-start-learning p {
    font-size: 48px;
    font-family: "Inter";
    font-weight: 700;
    margin: 0 125px;
}

#Popular-Courses {
    color: #6C00FF;
}

.Courses {
    height: 215px;
    width: 600px;
    margin: 10px;
    background-color: rgba(106, 0, 253, 0.11);
    border: thick double rgba(106, 0, 253, 0.3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    transition: 1s;
    transform: scale(0.98);
}

.Courses:hover {
    transform: scale(1);
}

.all-courses {
    display: block;
}

.top-courses {
    display: flex;
    justify-content: center;
}



.bottom-courses {
    display: flex;
    justify-content: center;
}

.js-svg {
    width: 92px;
    height: 101px;
    background-image: url(../../images/js.svg);
    margin: 50px;
}

.downstream-course p {
    margin: 30px 0;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
}

.downstream-course b {
    color: #6C00FF;
    font-weight: 900;
}


.downstream-course {
    margin: auto 5px;
}

.button-intro-div {
    display: flex;
    justify-content: center;
}

.intro-button {
    padding: 8px 10px;
    color: white;
    font-weight: 500;
    font-family: "Inter";
    border: none;
    background-color: #6C00FF;
    border-radius: 5px;
}

.ainps {
    background-image: url(../../images/ai&ps.svg);
    width: 150px;
    height: 150px;
    margin: 20px;
}

.htmlncss {
    width: 138px;
    height: 107px;
    background-image: url(../../images/htmlcss.svg);
    margin: 50px;
}

.programming-svg {
    width: 100px;
    height: 100px;
    background-image: url(../../images/programming.svg);
    margin: 50px;
}

.devices-svg {
    width: 740px;
    height: 630px;
    background-image: url(../../images/devices.svg);
    margin: auto 0;
    border-radius: 10px;
}

.contact-home {
    height: 700px;
    width: 100%;
    background-color: #fffdec;
    display: flex;
    justify-content: center;
}

.downstream-contact-home {
    text-align: center;
    padding: 0 50px;
    margin: auto 0;
}

.sender-info-div {
    text-align: left;
}

.radio-device-selection input[type=radio] {
    margin: 10px 5px;
}

.device-choice-text {
    margin: 20px 0;
}

.sender-info-div {
    margin: 10px 0;
}

.sender-info-div input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: 1s;
    width: 480px;
    padding: 5px 5px;
}

.sender-info-div input:focus {
    border: 1px solid #6C00FF;
    outline: none;
}

#area-message {
    border: 1px solid black;
}

#area-message:focus {
    outline: none;
    border: 1px solid #6C00FF;
}

#area-message {
    border-radius: 5px;
    resize: none;
    width: 480px;
}

.submit-message {
    padding: 8px 24px;
    width: 480px;
    background-color: #6C00FF;
    color: white;
    font-family: "Inter";
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.device-choice-text {
    font-weight: 700;
}