@import url(https://fonts.googleapis.com/css?family=Inter);

.all-header {
    height: 100px;
    display: flex;
    padding: 5px 50px;
    justify-content: center;
    font-family: "Inter";
}

.magical-logo {
    width: 140px;
    height: 79px;
    margin: 5px 0;
    background-image: url(../../images/Logo.svg);
}

.services p {
    margin-top: 20px;
}

.services {
    display: flex;
}

.header-info {
    display: flex;
    margin: 20px 100px 0 200px;
}

.header-info p {
    cursor: pointer;
}

.arrow {
    margin-top: 22px;
    cursor: pointer;
}

.all-dropdown {
    display: block;
}

.dropdown-menu div {
    margin: 5px 0;
    cursor: pointer;
}

.dropdown-menu hr {
    height: 1px; 
    border: none;
    background-color: #fff;
}

.dropdown-menu {
    background-color: #6C00FF;
    padding: 20px;
    border-radius: 5px;
    color: white;
    position: absolute;
    text-align: center;
}

.header-text p {
    margin: 0 10px;
}

.header-text {
    display: flex;
    margin: 20px 0;
}

.get-started button {
    padding: 8px 24px;
    margin-top: 35px;
    background-color: #6C00FF;
    color: #fff;
    border-radius: 10px;
    border: none;
}